<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :scenario_id %>
    <%= f.input :deployment_id %>
    <%= f.input :user_id %>
    <%= f.input :completed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
