<% breadcrumb :task, @task %>

<%= render 'tasks/task', :task => @task %>

<ul class='ruled'>
  <% @comments.each do |comment|  %>
    <li><%= comment.user.name %>: <%= comment.message %> <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<%= render 'comments/form' %>
