<p id="notice"><%= notice %></p>

<p>
  <strong>Scenario:</strong>
  <%= @task.scenario_id %>
</p>

<p>
  <strong>Deployment:</strong>
  <%= @task.deployment_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
