<h1>Listing prereqs</h1>

<table>
  <thead>
    <tr>
      <th>Instruction</th>
      <th>Scenario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prereqs.each do |prereq| %>
      <tr>
        <td><%= prereq.instruction %></td>
        <td><%= prereq.scenario_id %></td>
        <td><%= link_to 'Show', prereq %></td>
        <td><%= link_to 'Edit', edit_prereq_path(prereq) %></td>
        <td><%= link_to 'Destroy', prereq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prereq', new_prereq_path %>
