<p id="notice"><%= notice %></p>

<p>
  <strong>Instruction:</strong>
  <%= @prereq.instruction %>
</p>

<p>
  <strong>Scenario:</strong>
  <%= @prereq.scenario_id %>
</p>

<%= link_to 'Edit', edit_prereq_path(@prereq) %> |
<%= link_to 'Back', prereqs_path %>
