<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>
  
  <div class="half-wrap">
    <div class="form-inputs half">
      <%= f.input :name, placeholder: 'New Group', label_html: {class: 'accessibility'} %>
      <%= f.input :project_id, as: :hidden %>
    </div>

    <div class="form-actions half last">
      <%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, '#', class: 'submit btn'  %>
    </div>
  </div>
<% end %>
