<% breadcrumb :project_edit, @project %>

<h1>Editing <%= @project.name %></h1>

<section class="grid-2 story-details border">
  <%= render 'form' %>
</section>

<section class="grid-10 last border">
  <h2>Tests</h2>
  
  <%= render 'groups/form' %>
  
  <div class="groups clear-both">
    
    <% @project.groups.order('LOWER(name) ASC').each do |group| %>
      <section class='group'>
        <h5><%= link_to group.name , edit_group_path(group)  %></h5>
        <ul class='ruled'>
          <% group.scenarios.order('created_at ASC').each do |scenario| %>
            <li class='priority-<%= scenario.priority %> clearfix'>
              <%= link_to scenario.name, edit_scenario_path(scenario) %>   <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, scenario, method: :delete, data: { confirm: 'Are you sure?' }, class: 'box transparent'  %>            
            </li>
          <% end %>

          <li><%= render 'scenarios/form_compact', g_id: group.id %></li>
        </ul>
      </section>
    <% end %>
  </div>
  
</section>





