<% breadcrumb :project, @project %>
    
    <h1 class='inline-block'>
      <%= @project.name %> 
    </h1>

    <%= link_to 'Edit Tests <i class="fa fa-cog"></i>'.html_safe , edit_project_path, class: 'btn small upper-right-corner absolute-corner'  %>


    <section class=' border'>
      <h2>Deployments</h2>
      <ul class="ruled">
        <% @project.open_deployments.each do |deployment| %>
          <li class='clearfix'>
            <div class="name float-left"> 
              <%= link_to deployment.name , deployment %>  <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, deployment, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <div class="task-count float-right">
              <em><%= deployment.tasks.completed.count %> / <%= deployment.tasks.count %> tests</em>
            </div>
          </li>
        <% end %>
          <li><%= render 'deployments/form' %></li>
      </ul>
    </section>
    
    <section class='border'>
      <h2>Completed</h2>
      <ul class="ruled">
        <% @project.completed_deployments.each do |deployment| %>
          <li><%= link_to deployment.name , deployment %>
          </li>
        <% end %>
      </ul>
    </section>
    




