<p id="notice"><%= notice %></p>

<h1>
  Project: <%= @project.name %>
</h1>

<%= link_to 'Edit', edit_project_path(@project), class: 'btn small'  %>
<p>
  <strong>Created By</strong> <br>
  <%= @project.user.name %> <br>
  <%= time_ago_in_words(@project.created_at) %> ago

</p>

<p>
  <%= @project.description %>
</p>


<section class="border">
  <h3>Scenarios</h3>
  

  <section class='group'>
    <% @project.groups.each do |group| %>
      <h5><%= group.name %> <%= link_to 'edit' , edit_group_path(group) %></h5>
      <ul class='ruled'>
        <% group.scenarios.each do |scenario| %>
          <li><%= link_to scenario.name, scenario %></li>
        <% end %>

        <li><%= link_to 'New Scenario' , new_scenario_path(:group_id => group.id), class: 'btn outline small'  %></li>
      </ul>
    <% end %>
  </section>
  
  <section class="border">
    <%= render 'groups/form' %>
  </section>
</section>



