<% breadcrumb :project, @project %>


<p id="notice"><%= notice %></p>

<h1>
  <%= @project.name %>
</h1>


<section class="grid-2 story-details border">
  
  <p>
    <strong>Created By</strong> <br>
    <%= @project.user.name %> <br>
    <%= time_ago_in_words(@project.created_at) %> ago
  </p>
  <p>
    <%= link_to 'Edit Tests <i class="fa fa-cog"></i>'.html_safe , edit_project_path, class: 'btn'  %>
  </p>

</section>

<section class="grid-10 border last clearfix">
  <h2>Deployments</h2>
  
  <section>
    <%= render 'deployments/form' %>
  </section>
  
    <section class='clear-both grid-6 nest-10 border'>
      <h5>Current</h5>
      <ul class="ruled">
        <% @project.deployments.current.each do |deployment| %>
          <li class='clearfix'>
            <div class="name float-left"> 
              <%= link_to deployment.name , deployment %> 
            </div>
            <div class="task-count float-right">
              <em><%= deployment.tasks.completed.count %> / <%= deployment.tasks.count %> tests</em>
            </div>
          </li>
        <% end %>
      </ul>
    </section>

    <section class='grid-4 nest-10 last border'>
      <h5>Completed</h5>
      <ul class="ruled">
        <% @project.deployments.completed.each do |deployment| %>
          <li><%= link_to deployment.name , deployment %>
          </li>
        <% end %>
      </ul>
    </section>
</section>




