<p id="notice"><%= notice %></p>

<h1>
  <%= @project.name %>
</h1>


<section class="grid-2 story-details border">
  
  <p>
    <strong>Created By</strong> <br>
    <%= @project.user.name %> <br>
    <%= time_ago_in_words(@project.created_at) %> ago

  </p>

  <p>
    <%= @project.description %>
  </p>

  <%= link_to 'Edit', edit_project_path(@project), class: 'btn small'  %>
</section>

<section class="grid-5 border">
  <h2>Scenarios</h2>
  
  <%= render 'groups/form' %>
  
  <div class="groups clear-both">
    
    <% @project.groups.each do |group| %>
      <section class='group'>
        <h5><%= link_to group.name , edit_group_path(group)  %></h5>
        <ul class='ruled'>
          <% group.scenarios.each do |scenario| %>
            <li><%= link_to scenario.name, edit_scenario_path(scenario) %></li>
          <% end %>

          <li><%= link_to 'New Scenario' , new_scenario_path(:group_id => group.id), class: 'btn outline small'  %></li>
        </ul>
      </section>
    <% end %>
  </div>
  
</section>

<section class="grid-5 border last">
  <h2>Deployments</h2>
  
  <%= render 'deployments/form' %>
  
  <section>
    <h5>Current</h5>
    <ul class="ruled">
      <% @project.deployments.current.each do |deployment| %>
        <li><%= link_to deployment.name , edit_deployment_path(deployment) %>
        </li>
      <% end %>
    </ul>
  </section>

  <section>
    <h5>Completed</h5>
    <ul class="ruled">
      <% @project.deployments.completed.each do |deployment| %>
        <li><%= link_to deployment.name , edit_deployment_path(deployment) %>
        </li>
      <% end %>
    </ul>
  </section>
</section>




