<%= simple_form_for(@scenario) do |f| %>
  <div class="half-wrap clearfix">
    <div class="form-inputs half">
      <%= f.input :name, placeholder: 'New Test', label_html: {class: 'accessibility'} %>
      <%= f.input :priority, collection: 1..5, selected: 2 %>
      <%= f.input :group_id, as: :hidden, input_html: {value: g_id} %>
    </div>

    <div class="form-actions half last">
      <%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, '#', class: 'submit btn'  %>
    </div>
  </div>
<% end %>
