<p id="notice"><%= notice %></p>
<%= link_to 'Back to Project', @scenario.group.project %>
<p>
  <strong>Name:</strong>
  <%= @scenario.name %>
</p>

<p>
  <strong>Expected:</strong>
  <%= @scenario.expected %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @scenario.notes %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @scenario.priority %>
</p>

<p>
  <strong>User:</strong>
  <%= @scenario.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @scenario.group_id %>
</p>


<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>
