<% breadcrumb :deployment, @deployment %>

<p id="notice"><%= notice %></p>

<h1>Deployment: <%= @deployment.name %></h1>

<section class="grid-2">
  <p><strong>Project</strong><br>
    <%= @deployment.project.name %>
    <%= @deployment.completed %>
  </p>

  <p><strong>Created By</strong> <br>
    <%= @deployment.user.name %> <br>
    <%= time_ago_in_words(@deployment.created_at) %> ago
  </p>
</section>

<section class="grid-5 top task-list">
  <% @task_groups.each do |group_id, tasks| %>
    <section class="compact">
      <h5><%= Group.find(group_id).name %></h5>
      <ul class="ruled group">
        <% tasks.each do |task| %>
          <li id="task-<%= task.id %>" class='priority-<%= task.scenario.priority %> <%= "completed" if task.completed %> clearfix'>
            <div class="float-left">
              <%= render 'tasks/form_checkbox', :task => task %> 
            </div>
            <div class="float-right priority-indicator">
              <%= task.scenario.priority %>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

</section>
