<p id="notice"><%= notice %></p>

<h1>Deployment: <%= @deployment.name %></h1>

<section class="grid-2">
  <p><strong>Project</strong><br>
    <%= @deployment.project.name %>
  </p>

  <p><strong>Created By</strong> <br>
    <%= @deployment.user.name %> <br>
    <%= time_ago_in_words(@deployment.created_at) %> ago
  </p>
</section>

<section class="grid-5">
  <h2>Scenarios</h2>
  
  <ul class="ruled">
    <% @deployment.tasks.order('created_at ASC').each do |task| %>
      <li><%= render 'tasks/form_checkbox', :task => task %></li>
    <% end %>
  </ul>

</section>
